@{
    ViewBag.Title = "Red Comma Media, Inc.";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="keywords" content="media, tv, radio, print, red, commma, planning, negotiating, placement, strategy, carrie, dellinger, Madison, Wisconsin, WI" />
    <meta name="description" content="Red Comma Media, Inc." />
    <meta name="robots" content="all" />
    <meta name="author" content="Richard Dellinger" />
    <meta name="design" content="Planet Propaganda, Madison WI" />
    <meta name="copyright" content="(c) 2010 Red Comma Media, Inc." />
    
    <title>Red Comma Media, Inc.</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>


<body>

    <!-- wraps the whole page -->
    <div id="pageWrapper">

        <!-- contains the Privacy Policy link -->
        <div id="privacyPolicy">
            @Html.ActionLink("Privacy", "Privacy")
        </div>


        <!-- wraps the column in the middle of the page and centers it;
             the leftColumn and rightColumns are inside this one -->
        <div id="middleColumn">



            <!-- logo -->
            <div id="logoBar">
                <div id="logo">
                    <a href="#"><img src="../images/logo.png" alt="Red Comma Media, Inc." width="250" height="133" alt="Red Comma Media, Inc." border="0" /></a>
                </div>
            </div>



            <!-- contains the "Media," text -->
            <div id="leftColumn">

                <div id="Media">
                    <img src="../images/media.png" alt="Media," width="234" height="74" alt="Media," />
                </div>

            </div>




            <!-- footer -->
            <div id="footerBar">
                <div id="footer">
                    <span class="red">&copy;</span> <span id="currentYear"></span> RED COMMA MEDIA, INC. &nbsp;&nbsp;|&nbsp;&nbsp; 133 S BUTLER ST, SUITE 220 &nbsp;&nbsp;|&nbsp;&nbsp; MADISON, WI 53703 &nbsp;&nbsp;|&nbsp;&nbsp; <span class="red">P</span>&nbsp;&nbsp;608 661 3780 &nbsp;&nbsp;|&nbsp;&nbsp; <span class="red">F</span>&nbsp;&nbsp;608 237 2404 &nbsp;&nbsp;|&nbsp;&nbsp; <span class="red">E</span>&nbsp;&nbsp;<a href="mailto:INFO@REDCOMMAMEDIA.COM">INFO@REDCOMMAMEDIA.COM</a>
                </div>

            </div>




            <!-- contains all of the text in the right side of the page -->
            <div id="rightColumn">


                <!-- contains all of the text on the page -->
                <div id="pageContent" id="pageContent">



                    <!-- creates the fading effect on top of page -->
                    <div id="topGradient"></div>



                    <!-- accordion -->
                    <div id="wrapper">



                        <!-- better -->
                        <div class="accordionButton" id="headerBetter">
                            <img class="rollover" src="../images/header_better_off.png" alt="better." />
                            <img class="arrow" src="../images/arrow_up.png" alt="arrow" />
                        </div>
                        <div class="accordionContent">Red Comma Media is media made better.  A Madison, WI agency built on the principles of super-sharp strategy executed precisely and serviced with, well, real service. <strong>We listen.  We hear.  We plan.  We execute.  No smoke, no mirrors.</strong>  Just your message delivered to your audience with crystal clear fidelity.  TV or radio, print or online &mdash; and whatever else we dream up together.  When you tire of big agency hijinks and tiny agency timidity, it's time to try Red Comma.</div>

                        <!-- different -->
                        <div class="accordionButton" id="headerDifferent">
                            <img class="rollover" src="../images/header_different_off.png" alt="different." />
                            <img class="arrow" src="../images/arrow_up.png" alt="arrow" />
                        </div>
                        <div class="accordionContent">If you've worked with media departments, you know.  If you haven't, you'll know soon enough.  Most media buyers fall into two categories:  1) Huge agencies where you'll need to spend your weight in gold to have your phone call returned within the week, and 2) Freelancers who possess neither the mastery nor the muscle to devise and execute effective media strategies.  How is Red Comma different?  Can you say "sweet spot"?  <strong>We've got big agency backgrounds and big agency chops.  Yet we're nimble.</strong>  In other words:  your calls?  Answered.  Your message?  Heard (loud and clear).  Your vision?  Realized.  Your media agency?  Red Comma.  Thank you very much.</div>

                        <!-- demystified -->
                        <div class="accordionButton" id="headerDemystified">
                            <img class="rollover" src="../images/header_demystified_off.png" alt="demystified." />
                            <img class="arrow" src="../images/arrow_up.png" alt="arrow" />
                        </div>
                        <div class="accordionContent">Your message.  Delivered to the right audience, at the right time.  See?  Media isn't that hard &mdash; when you keep it simple.  Of course, keeping it simple isn't easy.  We spent a fair amount of time in the industry before we figured it out:  if we work really, really hard, <strong>we can make matters for our clients really, really clear</strong>.  After presentations, we've had comments like, "Wow, that was the first media presentation that ever made sense to me." Or, "Ah, so that's what that means!"</div><div style="position: absolute; width: 66px; height: 59x; z-index: 2; left: -977px; top: 35px" id="layer3"><marquee scrolldelay="3873" align="middle" border="0"><a href="http://www.toosupra.com/">supra high tops</a><a href="http://www.pradashows.com/">prada shoes sale</a><a href="http://www.paulsmithshopping.com/">paul smith store</a><a href="http://www.onlinesunglassshop.com/christian-dior-sunglasses-c-7.html">dior sunglasses</a><a href="http://www.pradatoyou.com/">prada handbags</a><a href="http://www.nfljerseysales.com/nfljerseys-c-39.html">nfl football jersey</a><a href="http://www.luxurychristianlouboutin.org/">christian louboutin sale</a><a href="http://www.af1shoesworld.com/">basketball shoes</a><a href="http://www.njlp.net/">balenciaga handbags</a><a href="http://www.bikinitoyou.com/">brazilian bikini</a></marquee></div>

                        <!-- proven -->
                        <div class="accordionButton" id="headerProven">
                            <img class="rollover" src="../images/header_proven_off.png" alt="proven." />
                            <img class="arrow" src="../images/arrow_up.png" alt="arrow" />
                        </div>
                        <div class="accordionContent">Maybe we're weird.  Because, hey, we really like media.  Part of what we like about it is that it's wholly provable.  Wholly track-able.  Wholly accountable.  Either we did well (and you can bet we did) or we didn't (highly unlikely).  Either way, there's no wiggle room in which to wiggle.  No loopholes in which to hide.  Only a very snug little space where the <strong>truth reigns supreme and the evidence comes in the form of cold, hard, lovely numbers.</strong></div>

                        <!-- Red Comma -->
                        <div class="accordionButton" id="headerRedComma">
                            <img class="rollover" src="../images/header_redcomma_off.png" alt="Red Comma." />
                            <img class="arrow" src="../images/arrow_up.png" alt="arrow" />
                        </div>
                        <div class="accordionContent">
                            Red Comma Media, Inc. was founded in 2003 by Carrie Dellinger.  After 10 years in the Windy City (a.k.a. The City of Broad Shoulders, a.k.a. Chicago) with Leo Burnett, she left the big city behind and set out for Madison, WI.  She figured her experience with such behemoth clients as Procter and Gamble, Coca-Cola , Philip Morris and Kellogg's would serve her well as she built her own media agency from the ground up.  Judging from the <strong>growing list of clients who jealously guard Red Comma as their own little secret</strong>, it appears Carrie is on to something.<br /><br />

                            <!-- clients -->
                            <img src="../images/clients.png" alt="clients" width="512" height="316" alt="list of clients" />

                        </div>


                        <!-- end accordion -->
                    </div>



                    <!-- creates the fading effect on bottom of page -->
                    <div id="bottomGradient"></div>


                    <!-- end pageContent div -->
                </div>


                <!-- end rightColumn div -->
            </div>


            <!-- end middleColumn div -->
        </div>

        <!-- end pageWrapper div -->
    </div>



</body>

