@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="keywords" content="media, tv, radio, print, red, commma, planning, negotiating, placement, strategy, carrie, dellinger, Madison, Wisconsin, WI" />
    <meta name="description" content="Red Comma Media, Inc." />
    <meta name="robots" content="all" />
    <meta name="author" content="Richard Dellinger" />
    <meta name="design" content="Planet Propaganda, Madison WI" />
    <meta name="copyright" content="(c) 2010 Red Comma Media, Inc." />
    
    <title>Privacy</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>


<body>


    <!-- wraps the whole page -->
    <div id="pageWrapper">


        <!-- wraps the column in the middle of the page and centers it;
             the leftColumn and rightColumns are inside this one -->
        <div id="middleColumn">



            <!-- logo -->
            <div id="logoBar">
                <div id="logo">
                    <a href="../"><img src="../images/logo.png" alt="Red Comma Media, Inc." width="250" height="133" alt="Red Comma Media, Inc." border="0" /></a>
                </div>
            </div>







            <!-- footer -->
            <div id="footerBar">
                <div id="footer">
                    <span class="red">&copy;</span> <span id="currentYear"></span> RED COMMA MEDIA, INC. &nbsp;&nbsp;|&nbsp;&nbsp; 605 WILLIAMSON ST &nbsp;&nbsp;|&nbsp;&nbsp; MADISON, WI 53703 &nbsp;&nbsp;|&nbsp;&nbsp; <span class="red">P</span>&nbsp;&nbsp;608 661 3780 &nbsp;&nbsp;|&nbsp;&nbsp; <span class="red">F</span>&nbsp;&nbsp;608 237 2404 &nbsp;&nbsp;|&nbsp;&nbsp; <span class="red">E</span>&nbsp;&nbsp;<a href="mailto:INFO@REDCOMMAMEDIA.COM">INFO@REDCOMMAMEDIA.COM</a>
                </div>
            </div>




            <!-- contains all of the text in the right side of the page -->
            <div id="rightColumn">



                <!-- contains all of the text on the page -->
                <div id="pageContent" id="pageContent">


                    <!-- creates the fading effect on top of page -->
                    <div id="topGradient"></div>



                    <!-- accordion -->
                    <div id="privacy">

                        <h1>Privacy Policy</h1>

                        <p>Red Comma Media, Inc. is committed to protecting your privacy and developing technology that gives you the most powerful and safe online experience. This Statement of Privacy applies to the Red Comma Media, Inc. Web site and governs data collection and usage. By using the Red Comma Media, Inc. website, you consent to the data practices described in this statement.</p>

                        <p>Red Comma Media, Inc. does not collect personally identifiable information.  Red Comma Media, Inc. does not sell, rent or lease its customer lists to third parties.  The Red Comma Media, Inc. Web site does not use "cookies."</p>

                        <p>Information about your computer hardware and software is automatically collected by Red Comma Media, Inc.. This information can include: your IP address, browser type, domain names, access times and referring Web site addresses. This information is used by Red Comma Media, Inc. for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Red Comma Media, Inc. Web site.</p>

                        <p>Red Comma Media, Inc. will occasionally update this Statement of Privacy to reflect company and customer feedback. Red Comma Media, Inc. encourages you to periodically review this Statement to be informed of how Red Comma Media, Inc. is protecting your information.</p>
                    </div>




                    <!-- creates the fading effect on bottom of page -->
                    <div id="bottomGradient"></div>


                    <!-- end pageContent div -->
                </div>


                <!-- end rightColumn div -->
            </div>


            <!-- end middleColumn div -->
        </div>


        <!-- end pageWrapper div -->
    </div>



</body>

