@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="media, tv, radio, print, red, commma, planning, negotiating, placement, strategy, carrie, dellinger, Madison, Wisconsin, WI" />
    <meta name="description" content="Red Comma Media, Inc." />
    <meta name="robots" content="all" />
    <meta name="author" content="Richard Dellinger" />
    <meta name="design" content="Planet Propaganda, Madison WI" />
    <meta name="copyright" content="(c) 2013 Red Comma Media, Inc." />
    <title>Red Comma Media, Inc.</title>

    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" />
    
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
    <!-- script to load the Museo Slab font -->
    <script type="text/javascript" src="http://use.typekit.com/ghp3qbb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</head>
<body>


    <!-------- /Home ----------->
    <div data-role="page" id="home" style="background: #FFFFFF;">

        <!-- /content -->
        <div data-role="content" id="homeContent" class="accordionContent">

            <!-- <h1>Red Comma Media, Inc.</h1> -->
            <div style="text-align: center;">
                <a href="#contact" border="0" data-transition="flip"><img src="~/Images/logo_mobile.png" alt="Red Comma Media" /></a>
            </div>

            <br />
            <img src="~/Images/media.png" alt="media" width="150" style="margin-bottom: 15px; margin-left: -5px;" />

            <ul data-role="listview" data-inset="false" class="accordionContent">
                <li><a href="#better" data-transition="slide">better.</a></li>
                <li><a href="#different" data-transition="slide">different.</a></li>
                <li><a href="#demystified" data-transition="slide">demystified.</a></li>
                <li><a href="#proven" data-transition="slide">proven.</a></li>
                <li><a href="#RedComma" data-transition="slide">Red Comma.</a></li>
            </ul>

            <br /><br /><br />

            <ul data-role="listview" data-inset="true" data-mini="true" data-theme="a">
                <li><a href="#contact" data-transition="flip">Contact Us</a></li>
            </ul>

        </div>



        <!-- end of page -->
    </div>



    <!-------- /better ----------->
    <div data-role="page" id="better" data-add-back-btn="true" style="background: #FFFFFF;">
        <!-- /header -->
        <div data-role="header" data-theme="d">
            <h1>better</h1>
        </div>

        <!-- /content -->
        <div data-role="content" class="accordionContent">

            <p>Red Comma Media is media made better. A Madison, WI agency built on the principles of super-sharp strategy executed precisely and serviced with, well, real service. <strong>We listen. We hear. We plan. We execute. No smoke, no mirrors.</strong> Just your message delivered to your audience with crystal clear fidelity. TV or radio, print or online — and whatever else we dream up together. When you tire of big agency hijinks and tiny agency timidity, it's time to try Red Comma.</p>

        </div>
    </div>
    <!-- end of page -->
    <!-------- /different ----------->
    <div data-role="page" id="different" data-add-back-btn="true" style="background: #FFFFFF;">
        <!-- /header -->
        <div data-role="header" data-theme="d">
            <h1>different</h1>
        </div>

        <!-- /content -->
        <div data-role="content" class="accordionContent">

            <p class="accordionContent">If you've worked with media departments, you know. If you haven't, you'll know soon enough. Most media buyers fall into two categories: 1) Huge agencies where you'll need to spend your weight in gold to have your phone call returned within the week, and 2) Freelancers who possess neither the mastery nor the muscle to devise and execute effective media strategies. How is Red Comma different? Can you say "sweet spot"? <strong>We've got big agency backgrounds and big agency chops. Yet we're nimble.</strong> In other words: your calls? Answered. Your message? Heard (loud and clear). Your vision? Realized. Your media agency? Red Comma. Thank you very much.</p>

        </div>
    </div>
    <!-- end of page -->
    <!-------- /demystified ----------->
    <div data-role="page" id="demystified" data-add-back-btn="true" style="background: #FFFFFF;">
        <!-- /header -->
        <div data-role="header" data-theme="d">
            <h1>demystified</h1>
        </div>

        <!-- /content -->
        <div data-role="content" class="accordionContent">

            <p class="accordionContent">Your message. Delivered to the right audience, at the right time. See? Media isn't that hard — when you keep it simple. Of course, keeping it simple isn't easy. We spent a fair amount of time in the industry before we figured it out: if we work really, really hard, <strong>we can make matters for our clients really, really clear</strong>. After presentations, we've had comments like, "Wow, that was the first media presentation that ever made sense to me." Or, "Ah, so that's what that means!"</p>

        </div>
    </div>
    <!-- end of page -->
    <!-------- /proven ----------->
    <div data-role="page" id="proven" data-add-back-btn="true" style="background: #FFFFFF;">
        <!-- /header -->
        <div data-role="header" data-theme="d">
            <h1>proven</h1>
        </div>

        <!-- /content -->
        <div data-role="content" class="accordionContent">

            <p class="accordionContent">Maybe we're weird. Because, hey, we really like media. Part of what we like about it is that it's wholly provable. Wholly track-able. Wholly accountable. Either we did well (and you can bet we did) or we didn't (highly unlikely). Either way, there's no wiggle room in which to wiggle. No loopholes in which to hide. Only a very snug little space where the <strong>truth reigns supreme and the evidence comes in the form of cold, hard, lovely numbers</strong>.</p>

        </div>
    </div>
    <!-- end of page -->
    <!-------- /Red Comma ----------->
    <div data-role="page" id="RedComma" data-add-back-btn="true" style="background: #FFFFFF;">
        <!-- /header -->
        <div data-role="header" data-theme="d">
            <h1>Red Comma</h1>
        </div>

        <!-- /content -->
        <div data-role="content" class="accordionContent">

            <p class="accordionContent">Red Comma Media, Inc. was founded in 2003 by Carrie Dellinger. After 10 years in the Windy City (a.k.a. The City of Broad Shoulders, a.k.a. Chicago) with Leo Burnett, she left the big city behind and set out for Madison, WI. She figured her experience with such behemoth clients as Procter and Gamble, Coca-Cola , Philip Morris and Kellogg's would serve her well as she built her own media agency from the ground up. Judging from the <strong>growing list of clients who jealously guard Red Comma as their own little secret</strong>, it appears Carrie is on to something.</p>

            <br />

            <img src="~/Images/clients.png" width="300px" alt="clients" />

        </div>
    </div>
    <!-- end of page -->
    <!-------- /contact us ----------->
    <div data-role="page" id="contact" data-add-back-btn="true" style="background: #FFFFFF;">
        <!-- /header -->
        <div data-role="header" data-theme="d">
            <h1>Contact Us</h1>
        </div>

        <!-- /content -->
        <div data-role="content" style="text-align: center;" class="accordionContent">

            <p>
                Red Comma Media, Inc.<br />
                133 S Butler St, Suite 220<br />
                Madison, WI 53703<br />
            </p>

            <br />

            <p>Phone: 608-661-3780</p>
            <p>Fax: 608-237-2404</p>
            <p>Email: <a href="mailto:info@redcommamedia.com">info@redcommamedia.com</a></p>


        </div>
    </div>
    <!-- end of page -->


</body>
</html>


@Styles.Render("~/Content/Mobile")
